/* colours */
:root {
  --primary: #f47804;
  --secondary: #f7bc85;
  --title: #ffffff;
}

/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a {
  text-transform: uppercase;
  color: var(--title);
}
nav a span {
  font-weight: bold;
}
nav .sidenav-trigger {
  margin: 0;
}

.push-btn {
  background: var(--primary) !important;
}

/* form-styles */
.add-btn {
  background: var(--primary) !important;
}
.sidenav {
  width: 85% !important;
}
.add-task-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 15px;
  left: 40px;
}

.card-fab {
  position: relative;
  z-index: 1;
}
